*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Cairo";
  src: url("./assets/Cairo-SemiBold.ttf");
}
body{
  padding: 25px;
  scroll-behavior: smooth;
}
.wrapper{
  width: inherit;
  height: inherit;
  display: flex;
  padding: 10px;
}
/* Preview Column */
.col-preview{
  flex: .7;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}
.row-front-face{
  border: 1px #ececec solid;
  border-radius: 22px;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.row-back-face{
  border: 1px #ececec solid;
  border-radius: 22px;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.row-exporter{
  height: 20%;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.button{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #f59943;
  border: none;
  text-align: center;
  text-transform: capitalize;
  color: white;
  font-family: "Cairo";
  font-size: 16;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
/* Controle Panel Column */
.col-panel-control{
  flex: .3;
  flex-direction: column;
  align-items: center;
  /*position: fixed;*/
  right: 20px;
  height: 850px;
}
.row-control-inputs{
  border: 1px #ececec solid;
  border-radius: 22px;
  height: 600px;
  padding: 30px 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.input{
  border: none;
  height: 43px;
  padding:0 10px;
  border:1px solid #ececec;
  border-radius: 8px;
  outline: #82dd5d;
}
.placeholders{
  font-family:"Segoe UI";
  font-size: 24px;
}
.input:focus{
  border:1px solid #82dd5d;
  border-radius: 8px;
}
.image-placeholder{
  height: 225px;
  width: 175px;
  object-fit: contain;
}
.row-import-xsl{
  height: 200px;
  border: 1px #ececec solid;
  border-radius: 22px;
   margin-bottom: 10px;
   box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.name-fr{
  text-transform: uppercase;
  font-size: 26px;
}
.prenom-fr{
  text-transform: capitalize;
  font-size: 26px;
}
.heading{
  font-family: "Cairo";
}